header {
  display: flex;
}

.contact-position img{
  width: 2rem;
  height: 2rem;
  padding: 0;
  align-items: center;
  
}

.section-droite img{
  width: 2rem;
  height: 2rem;
  padding: 1rem;
 
}

.langues-position {
display: flex ;

}

.contact-pos{
  display: flex;
  align-items: center;
  
}
.lang-pos{
  display: flex;
  align-items: center;
}



.header-gauche {
    
    padding: 2rem;
    text-align: left;
    
}
.header-droite {
   
    padding: 2rem;
    text-align: right;
    
}   

main {
  display: flex;
}
.section-gauche {
    
    padding: 2rem;
    text-align: left;
    width: 90%;
}
.section-droite {
    
    padding: 2rem;
    text-align: left;
    width: 50%;
}

body {
  background-image: url(./asset/moroccan-flower.png);
}